# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any temporary or backup files
*~
*.bak
*.swp

# Ignore the following files related to notebooks that are not needed for deployment
*.ipynb